.conteiner_Contact {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.conteiner_form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    color: aliceblue;    
}

.contact_form h2 {
    font-weight: light;
    font-size: 1.5rem;
    margin-bottom: .2em;
}

.contact_form input {
    width: 220px;
}

.contact_form button {
    margin-top: 1em;
    width: 220px;
}

.Contact_img img {
    object-fit: cover;
    height: 280px;
    display: none;
    width: 250px;
    margin-top: 1em;
    margin-left: -3em;
}

@media screen and (min-width: 767px) {
    .conteiner_Contact {
        width: 660px;
    }
    .contact_form h2 {
        font-size: 2rem;
    }

    .contact_form input {
        width: 300px;
    }

    .contact_form button {
        width: 300px;
    }

    .Contact_img img {
        display: block;
        border-radius: 10px;
    }
}
