.project_container {
    padding: 2em;
    color: azure;
}

.title_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

@media screen and (max-width: 1300px) {
    .project_container {
        width: 100%;
        flex-direction: column;
    }

    .title_container {
        flex-direction: column;
        gap: 1em;
    }
}