.project_details {
    padding: 2em;
}

.project_details p {
    margin-bottom: .5em;
    color: #7a7a7a;
}

.project_details h1 {
    padding-bottom: .4em;
}

.project_details h1, h2 {
    color: aliceblue;
}

.project_details span {
    font-weight: bold;
    color: #fff;
}

.details_container, .service_form_container {
    border-bottom: 1px solid  #7a7a7a;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
background-color: #343434;
text-align: center;
justify-content: center;
color: #fff;
text-decoration: none;
transition: 0.5s;
cursor: pointer;
max-height: 40px;
border: none;
font-size: .85rem;
padding: .6em;
border-radius: 8px;
}

.btn:hover {
    background-color: #222;
    color: #ffbb33;
}

.project_info {
    width: 100%;
}